hrc/src/ibatis/src/sql-map-config-2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2008 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="sqlMapConfig">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="properties" minOccurs="0"/>
				<xs:element ref="settings" minOccurs="0"/>
				<xs:element ref="resultObjectFactory" minOccurs="0"/>
				<xs:element ref="typeAlias" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="typeHandler" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="transactionManager" minOccurs="0"/>
				<xs:element ref="sqlMap" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="properties">
		<xs:complexType>
			<xs:attribute name="resource" type="xs:anySimpleType"/>
			<xs:attribute name="url" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="settings">
		<xs:complexType>
			<xs:attribute name="classInfoCacheEnabled">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="true"/>
						<xs:enumeration value="false"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="lazyLoadingEnabled">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="true"/>
						<xs:enumeration value="false"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="statementCachingEnabled">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="true"/>
						<xs:enumeration value="false"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="cacheModelsEnabled">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="true"/>
						<xs:enumeration value="false"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="enhancementEnabled">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="true"/>
						<xs:enumeration value="false"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="errorTracingEnabled">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="true"/>
						<xs:enumeration value="false"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="useStatementNamespaces">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="true"/>
						<xs:enumeration value="false"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="useColumnLabel">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="true"/>
						<xs:enumeration value="false"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="forceMultipleResultSetSupport">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="true"/>
						<xs:enumeration value="false"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="maxSessions" type="xs:anySimpleType"/>
			<xs:attribute name="maxTransactions" type="xs:anySimpleType"/>
			<xs:attribute name="maxRequests" type="xs:anySimpleType"/>
			<xs:attribute name="defaultStatementTimeout" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="transactionManager">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="property" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dataSource"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:anySimpleType"/>
			<xs:attribute name="commitRequired">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="true"/>
						<xs:enumeration value="false"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="dataSource">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="property" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="property">
		<xs:complexType>
			<xs:attribute name="name" use="required" type="xs:anySimpleType"/>
			<xs:attribute name="value" use="required" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sqlMap">
		<xs:complexType>
			<xs:attribute name="resource" type="xs:anySimpleType"/>
			<xs:attribute name="url" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="typeAlias">
		<xs:complexType>
			<xs:attribute name="alias" use="required" type="xs:anySimpleType"/>
			<xs:attribute name="type" use="required" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="typeHandler">
		<xs:complexType>
			<xs:attribute name="javaType" use="required" type="xs:anySimpleType"/>
			<xs:attribute name="jdbcType" type="xs:anySimpleType"/>
			<xs:attribute name="callback" use="required" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="resultObjectFactory">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="property" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
