src/hrc/src/xmlschema/src/XMLSchema-instance.xsd

<?xml version='1.0'?>
<!DOCTYPE xs:schema PUBLIC "-//W3C//DTD XMLSCHEMA 200102//EN" "XMLSchema.dtd" [
<!ELEMENT p ANY>
<!ELEMENT a ANY>
<!ATTLIST a href CDATA #IMPLIED>
<!ELEMENT hr ANY>
<!ELEMENT h1 ANY>
<!ELEMENT br ANY>
]>
<xs:schema targetNamespace="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns="http://www.w3.org/1999/xhtml">
  <xs:annotation>
   <xs:documentation>
    <h1>XML Schema instance namespace</h1>
    <p>See <a href="http://www.w3.org/TR/xmlschema-1/">the XML Schema
       Recommendation</a> for an introduction</p>


    <hr />
    $Date: 2001/03/16 20:25:57 $<br />
    $Id: XMLSchema-instance.xsd,v 1.4 2001/03/16 20:25:57 ht Exp $
  </xs:documentation>
 </xs:annotation>
 <xs:annotation>
  <xs:documentation><p>This schema should never be used as such:
                    <a href="http://www.w3.org/TR/xmlschema-1/#no-xsi">the XML
                    Schema Recommendation</a> forbids the declaration of
                    attributes in this namespace</p>
  </xs:documentation>
 </xs:annotation>
 
 <xs:annotation>
  <xs:documentation>
   <hr/>
   <p>Note! This schema was changed for used it for <a href="http://colorer.sf.net/">Colorer</a>. 
    <a href="http://www.w3.org/2001/XMLSchema-instance.xsd">Original schema</a> contains only attribute names, no declaration.</p>
  </xs:documentation>
 </xs:annotation>
  

 <xs:attribute name="nil" type='xs:boolean'/>
 <xs:attribute name="type" type='xs:QName'/>
 <xs:attribute name="schemaLocation">
  <xs:simpleType>
   <xs:list itemType="xs:anyURI"/>
  </xs:simpleType>
 </xs:attribute>
 <xs:attribute name="noNamespaceSchemaLocation" type='xs:anyURI'/>
 
 
 <xs:attributeGroup name="xsi">
  <xs:annotation>
   <xs:documentation>
    <p>Attribute group 'xsi' was defined for reference to it from Colorer HRC packages.</p>
   </xs:documentation>
  </xs:annotation>
  
  <xs:attribute ref="xsi:nil"/>
  <xs:attribute ref="xsi:type"/>
  <xs:attribute ref="xsi:schemaLocation"/>
  <xs:attribute ref="xsi:noNamespaceSchemaLocation"/>
 </xs:attributeGroup> 
 
</xs:schema>
