src/shared/2003/doclinks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns="http://colorer.sf.net/2003/doclinks"
  targetNamespace="http://colorer.sf.net/2003/doclinks"
  elementFormDefault="qualified">

  <xs:element name="doclinks" type="doclinks" />

  <xs:complexType name="doclinks">
    <xs:annotation>
      <xs:documentation> Each doclinks file contains information about linking of different tokens
        into URL addresses with some information about this token. This can be cross reference to
        help files on classes, methods, objects of file. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="links" type="links" />
    </xs:sequence>
  </xs:complexType>

  <xs:attributeGroup name="linkProps">
    <xs:attribute name="scheme" type="xs:string">
      <xs:annotation>
        <xs:documentation> xx </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="url" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation> xx </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>


  <xs:complexType name="links">
    <xs:annotation>
      <xs:documentation> List of links. Used to define global values for scheme and url attributes.
        Each link can redefine them. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="link" type="link" minOccurs='0' maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref='linkProps' />
  </xs:complexType>


  <xs:complexType name="link">
    <xs:annotation>
      <xs:documentation> Defines mapping of some token into URL, including information about it's
        scheme. </xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref='linkProps' />
    <xs:attribute name="token" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Token chars to search in text</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

</xs:schema>
<!--
Copyright (C) 1999-2005 Cail Lomecb <cail@nm.ru>

This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public
License as published by the Free Software Foundation; either
version 2.1 of the License, or (at your option) any later version.

This library is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this library; if not, see <https://www.gnu.org/licenses/>
-->