src/shared/2003/hrd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns="http://colorer.sf.net/2003/hrd"
  targetNamespace="http://colorer.sf.net/2003/hrd"
  elementFormDefault="qualified">

  <xs:element name="hrd" type="hrd"/>

  <xs:complexType name="hrd">
    <xs:annotation><xs:documentation>
      List of assigns between regions and their external properties.
      These properties commonly include text decoration parameters,
      such as color, style, font and so on...
      Global color layering model can be chosen by the target application,
      depending on its text presentation style, features and requirements.
      In general, all transparent colors inherit color value from its
      parent schema fill color. If the current schema is a top-level, default
      fore- and back-ground colors are used.
      Default Colors can be stored in HRD, using standard default region
      'def:Text', or can be requested by application from the GUI environment.
      Note that color properties are requested from Region's parent (in HRC structure)
      if this region is not declared in HRD. However if region was declared but misses
      some properties, they are requested from underlying schema fill region which
      is determined in runtime.
    </xs:documentation></xs:annotation>
    <xs:sequence>
      <xs:element name="documentation" type="documentation" minOccurs="0"/>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="assign" type='assign'/>
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="documentation" mixed="true">
    <xs:annotation><xs:documentation>
      Human documentation part
    </xs:documentation></xs:annotation>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any namespace="##other" processContents="skip"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name='assign'>
    <xs:annotation><xs:documentation>
      Single entry, describes region's properties.
      If an entry is specified more than one time, then the latest
      definition is used. This allows several HRD files to be processed to
      complete color description of target HRC regions.
    </xs:documentation></xs:annotation>
    <xs:attribute name="name" use="required" type="region-name">
      <xs:annotation><xs:documentation>
        Full qualified region name (a pair [type:name]).
        Note, that if region has no HRD properties associations,
        it inherits properties from its parent. If any of its
        ancestors has no assigned properties, region visualization
        must be skipped (it becomes fully transparent).
      </xs:documentation></xs:annotation>
    </xs:attribute>
    <xs:attribute name="fore" type="color">
      <xs:annotation><xs:documentation>
        Foreground color. If missed, transparent color assumed.
      </xs:documentation></xs:annotation>
    </xs:attribute>
    <xs:attribute name="back" type="color">
      <xs:annotation><xs:documentation>
        Background color. If missed, transparent color assumed.
      </xs:documentation></xs:annotation>
    </xs:attribute>
    <xs:attribute name="style" type="style">
      <xs:annotation><xs:documentation>
        Style bits (bold, italic, underline).
      </xs:documentation></xs:annotation>
    </xs:attribute>
    <xs:attribute name="stext" type="xs:string">
      <xs:annotation><xs:documentation>
        Text prefix mapping (foreground).
      </xs:documentation></xs:annotation>
    </xs:attribute>
    <xs:attribute name="etext" type="xs:string">
      <xs:annotation><xs:documentation>
        Text prefix mapping (background).
      </xs:documentation></xs:annotation>
    </xs:attribute>
    <xs:attribute name="sback" type="xs:string">
      <xs:annotation><xs:documentation>
        Text Suffix mapping (foreground).
      </xs:documentation></xs:annotation>
    </xs:attribute>
    <xs:attribute name="eback" type="xs:string">
      <xs:annotation><xs:documentation>
        Text Suffix mapping (background).
      </xs:documentation></xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:simpleType name="region-name">
   <xs:restriction base="xs:string">
    <xs:pattern value="\i\c*\:\i\c*"/>
   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="color">
   <xs:restriction base="xs:string">
    <xs:pattern value="#?[\dA-Fa-f]{1,6}"/>
   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="style">
   <xs:restriction base="xs:string">
    <xs:pattern value="\d"/>
   </xs:restriction>
  </xs:simpleType>

</xs:schema>
<!-- ***** BEGIN LICENSE BLOCK *****
   - Version: MPL 1.1/GPL 2.0/LGPL 2.1
   -
   - The contents of this file are subject to the Mozilla Public License Version
   - 1.1 (the "License"); you may not use this file except in compliance with
   - the License. You may obtain a copy of the License at
   - http://www.mozilla.org/MPL/
   -
   - Software distributed under the License is distributed on an "AS IS" basis,
   - WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
   - for the specific language governing rights and limitations under the
   - License.
   -
   - The Original Code is the Colorer Library.
   -
   - The Initial Developer of the Original Code is
   - Cail Lomecb <cail@nm.ru>.
   - Portions created by the Initial Developer are Copyright (C) 1999-2005
   - the Initial Developer. All Rights Reserved.
   -
   - Contributor(s):
   - Eugene Efremov <4mirror@mail.ru>
   -
   - Alternatively, the contents of this file may be used under the terms of
   - either the GNU General Public License Version 2 or later (the "GPL"), or
   - the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
   - in which case the provisions of the GPL or the LGPL are applicable instead
   - of those above. If you wish to allow use of your version of this file only
   - under the terms of either the GPL or the LGPL, and not to allow others to
   - use your version of this file under the terms of the MPL, indicate your
   - decision by deleting the provisions above and replace them with the notice
   - and other provisions required by the LGPL or the GPL. If you do not delete
   - the provisions above, a recipient may use your version of this file under
   - the terms of any one of the MPL, the GPL or the LGPL.
   -
   - ***** END LICENSE BLOCK ***** -->
